@import "../core/Reset";
.link{
    text-decoration: none;
    
}

.item{
    background-color:   #13b5d5;
    color: white;
    text-align: center;
    margin: 30px;
    width: 150px;
    @media (min-width: 768px) {
        width: 300px;
        
      
      }
    
    
}
.img{
    width: 150px;
    @media (min-width: 768px) {
        width: 300px;
        
      
      }
    
}

