@import "../core/Reset";
.list{
  
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
   
    
  
  
      @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr ;
        margin-top: 25px;
        position:relative;
        right: 55px;
        }
       
        
       
      
      @media (min-width: 1000px) {
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 25px;
      }
}
.error{
  color: white;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}