@import "../core/Reset";
.list{
  
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
   
    
  
  
      @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr ;
        margin-top: 25px;
        margin-right: 80px;
       
        
       
      }
      @media (min-width: 100px) {
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 25px;
      }
}
.error{
  color: white;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}